<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vwoom.timelapsegallery"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Settings -->
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vwoom.timelapsegallery.activities.MainActivity" />
        </activity>
        <activity android:name=".activities.CameraActivity" />

        <!-- AdMob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_id" />

        <!-- Add Photo Activity -->
        <activity
            android:name=".activities.AddPhotoActivity"
            android:parentActivityName=".activities.DetailsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <!-- New Project Activity -->
        <activity
            android:name=".activities.NewProjectActivity"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden" />

        <!-- Details Activity -->
        <activity
            android:name=".activities.DetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity" />

        <!-- Main Activity -->
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Providers -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Receivers -->
        <!-- This receiver used to create alarms to send out notification -->
        <receiver
            android:name=".notification.NotificationAlarm"
            android:exported="false"
            android:process=":remote">
            <intent-filter>
                <action android:name="${applicationId}.CREATE_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <!-- This receiver used to update any active widgets -->
        <receiver android:name=".widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <!-- This service updates the widgets -->
        <service android:name=".widget.UpdateWidgetService" />

        <!-- This service provides the views for the widgets -->
        <service
            android:name=".widget.WidgetGridRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>